---
layout: home
---

<section id="about">
	<div class="container">
	<div id="sidebar">
		<div class="avatar">
			<img class="img-circle" src="{{ site.baseurl }}static/img/{{ site.avatar_hover }}" alt="Profile picture with glasses">
			<img class="img-circle img-top" src="{{ site.baseurl }}static/img/{{ site.avatar }}" alt="Profile Picture">
		</div>
		<h4>Research Scientist<br>at <a href='http://https://research.adobe.com/'>Adobe Research</a></h4>
		<h5>
			<p>White Collar Factory</p>
			<p>1 Old Street Yard</p>
			<p>London EC1Y 2AS, UK</p>
		</h5>
	{% include social.html %}
	</div>
	<div id='info'>
		<div>
			<p>I am a Research Scientist at Adobe Research London working on image/3D/video generative modeling.</p>
			<p>I received my PhD in Computer Science from the <a href='http://vcc.kaust.edu.sa'>Visual Computing Center</a> at <a href='http://kaust.edu.sa'>King Abdullah University of Science and Technology</a> working with <a href='http://peterwonka.net'>Prof. Peter Wonka</a>.</p>
		  <p>I'm broadly interested in computer graphics, especially image, 3D and video synthesis and generative modeling techniques. My research involves the generation end editing of large-scale images using deep neural networks, focusing on the quality of the generated content, controllability and the plausible compositing of the output.</p>
		  <!--p>Have a look at some of the <a href="{{ site.baseurl }}projects.html"> projects</a> I've worked on in the recent years.</p>
		  <p>For more details on my academic background, check out my professional <a href="{{ site.baseurl }}bio.html">resume</a>.</p-->
		  <p>In my spare time, I enjoy designing, building, creating, disassembling and assembling things. I love to play music, learn languages and explore the world.</p>
		
		<h3 style='text-align: center'>News</h3>
		  <ul>
		  {% for post in site.posts limit:8 %}
			<li>
			  <span class='news-date'>{{ post.date | date: "%B %Y" }} | </span><span class='news-title'> {{ post.title }}</span>
			  <div class='news-text'>
				{{post.content}}
			  </div>
			</li>
		  {% endfor %}
			<div class="sublist">
				<input type="checkbox" id="check_id">
				<label for="check_id"></label>
				<ul>
				  {% for post in site.posts offset:8 %}
					<li>
					  <span class='news-date'>{{ post.date | date: "%B %Y" }} | </span><span class='news-title'> {{ post.title }}</span>
					  <div class='news-text'>
						{{post.content}}
					  </div>
					</li>
				  {% endfor %}
				</ul>
			</div>		  
			</ul>	
		</div>
	</div>
	</div>
</section>


