body {
    font-family: "Roboto Condensed", sans-serif;
    width: 100%;
    height: 100%;
    padding: 0em;
    margin: 0em;
}

#log {
    background-color: lightgrey;
    border-radius: 5px;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    font-family: "Ubuntu Mono";
    font-size: 12px;
}

#parameters {
    width: 100%;
}

#parameters input {
    margin: 0.1em;
    padding: 0.1em;
    width: 95%;
}

a:link {
    color: purple;
}

.floatingCanvas {
    position: relative !important;
    float: left;
}

.overlayWrapper {
    position: relative;
}

.coveredImage {
    position: absolute;
    top: 0px;
    left: 0px;
}

.overlayCanvas {
    /*width: 100%;
    height: 100%;*/
    opacity: 0.4;
    position: absolute;
    top: 0px;
    left: 0px;
}