body {
    font-family: "Roboto Condensed", sans-serif;
    width: 100%;
    height: 100%;
    padding: 0em;
    margin: 0em;
}

.code {
    font-family: "Ubuntu Mono";
    color: #1264a4;
}

.gr {
    color: #999999;
}

.emph {
    padding: 4px;
    background-color: #eeeeee;
    border-radius: 3px;
    border: 1px solid #dddddd;
}

#log {
    background-color: lightgrey;
    border-radius: 5px;
    left: 300px;
    padding-top: 0.4em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    padding-bottom: 0.4em;
    font-family: "Ubuntu Mono";
    font-size: 12px;
}

h1 {
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 60px;
    display: inline;
    background-color: #000000;
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

ul {
    list-style-type:none
}

dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0
}
dt {
    float: left;
    width: 10%;
    /* adjust the width; make sure the total of both is 100% */
    padding: 0;
    margin: 0
}
dd {
    font-family: 'Roboto Condensed';
    color: #000000;
    float: left;
    width: 90%;
    /* adjust the width; make sure the total of both is 100% */
    padding: 0;
    margin: 0
}


button {
    background-color: #e7e7e7;
    border: none;
    color: #222222;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Roboto Condensed", sans-serif;
}

#parameters {
    width: 100%;
}

#parameters input {
    margin: 0.1em;
    padding: 0.1em;
    width: 95%;
}

a:link {
    color: purple;
}

.renderWrapper {
    display: flex;
    width: 90%;
}

.renderCanvas {
    flex-basis: 100%;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
}

.floatingCanvas {
    width: 50%;
    position: relative !important;
    float: left;
}

.overlayWrapper {
    position: relative;
}

.coveredImage {
    position: absolute;
    top: 0px;
    left: 0px;
}

.overlayCanvas {
    /*width: 100%;
    height: 100%;*/
    opacity: 0.4;
    position: absolute;
    top: 0px;
    left: 0px;
}

#tfContainer {
    position: absolute;
    top: 0;
    text-align: center;
    color: #5C5C5C;
    padding: 10px;
    font-size: 10px;
}

#tfContainer img {
    border: 0;
    margin: 2px;
    float: right;
    clear: right;
    width: 300px;
    height: 20px;
}

.overlayImg {
    position: relative;
    top: -24px;
}