body {
    font-family: Helvetica, san-serif;
}

#log {
    background-color: lightgrey;
    border-radius: 5px;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    font-family: "Courier New";
}

#parameters {
    width: 100%;
}

#parameters input {
    margin: 0.1em;
    padding: 0.1em;
    width: 95%;
}

a:link {
    color: purple;
}

.overlayWrapper {
    position: relative;
}

.coveredImage {
    position: absolute;
    top: 0px;
    left: 0px;
}

.overlayCanvas {
    /*width: 100%;
    height: 100%;*/
    opacity: 0.4;
    position: absolute;
    top: 0px;
    left: 0px;
}