<section id="bio">	
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
		<h2>Publications</h2>
			<div class="item">	
				<h4><i class="tab1 fas fa-newspaper"></i><span class='tab2'>2023</span><a href="{{ site.baseurl }}vive3D">VIVE3D: Viewpoint-Independent Video Editing using 3D-Aware GANs</a></h4>
				<h5><span class='tab1'></span><span class='tab2'></span><u>Anna Frühstück</u>, Nikolaos Sarafianos, Yuanlu Xu, Peter Wonka and Tony Tung<br>
				<span class='tab1'></span><span class='tab2'></span>Will be published at CVPR 2023.</h5>
			</div>
			<div class="item">	
				<h4><i class="tab1 fas fa-newspaper"></i><span class='tab2'>2022</span><a href="https://arxiv.org/abs/2201.13019" target="_blank">On the Robustness of Quality Measures for GANs</a></h4>
				<h5><span class='tab1'></span><span class='tab2'></span>Motasem Alfarra, Juan C. Pérez, <u>Anna Frühstück</u>, Philip H. S. Torr, Peter Wonka, Bernard Ghanem<br>
				<span class='tab1'></span><span class='tab2'></span>Proceedings of ECCV 2022, Part XVII, pp. 18-33</h5>
			</div>
			<div class="item">	
				<h4><i class="tab1 fas fa-newspaper"></i><span class='tab2'>2022</span><a href="{{ site.baseurl }}insetgan">InsetGAN for Full-Body Image Generation</a></h4>
				<h5><span class='tab1'></span><span class='tab2'></span><u>Anna Frühstück</u>, Krishna Kumar Singh, Eli Shechtman, Niloy J. Mitra, Peter Wonka, and Jingwan Lu<br>
				<span class='tab1'></span><span class='tab2'></span>Proceedings of CVPR 2022, pp. 7723-7732</h5>
			</div>
			<div class="item">	
				<h4><i class="tab1 fas fa-newspaper"></i><span class='tab2'>2020</span><a href="https://ieeexplore.ieee.org/document/9145640" target="_blank">Large Scale Architectural Asset Extraction from Panoramic Imagery</a></h4>
				<h5><span class='tab1'></span><span class='tab2'></span>Peihao Zhu, Wamiq Para, <u>Anna Frühstück</u>, John Femiani, and Peter Wonka<br>
				<span class='tab1'></span><span class='tab2'></span>IEEE Transactions in Visualization and Computer Graphics (TVCG), Vol. 28, No. 2, pp. 1301-1316</h5>
			</div>
			<div class="item">	
				<h4><i class="tab1 fas fa-newspaper"></i><span class='tab2'>2019</span><a href="{{ site.baseurl }}tilegan">TileGAN: Synthesis of Large-Scale Non-Homogeneous Textures</a></h4>
				<h5><span class='tab1'></span><span class='tab2'></span><u>Anna Frühstück</u>, Ibraheem Alhashim, and Peter Wonka<br>
				<span class='tab1'></span><span class='tab2'></span>ACM Transactions on Graphics (Proceedings of SIGGRAPH 2019), Vol. 38(4), pp. 58:1-58:11.</h5>
			</div>
	  <h2>Education</h2>
			<div class="item">	
				<h4><i class="tab1 fas fa-university"></i><span class='tab2'>2017 – 2023</span><i>PhD degree</i> at <i>King Abdullah University of Science and Technology</i><span style='font-size: 90%'>&nbsp;&ndash;&nbsp;Thuwal, KSA</span></h4>
				<h5><span class='tab1'></span><span class='tab2'></span>Computer Science | Current GPA: 4.0 | Adviser: <a href='http://h5eterwonka.net'>Peter Wonka</a></h5>
				<h5><span class='tab1'></span>Latent Space Manipulation of GANs for Seamless Image Compositing</h5>
			</div>
			<div class="item">	
				<h4><i class="tab1 fas fa-graduation-cap"></i><span class='tab2'>2015</span><i>MSc degree</i> (Dipl.-Ing.) at <i>Vienna University of Technology</i><span style='font-size: 90%'>&nbsp;&ndash;&nbsp;Vienna, Austria</span></h4>
				<h5><span class='tab1'></span><span class='tab2'></span>Visual Computing | graduated with distinction | Thesis adviser: <a href="https://www.cg.tuwien.ac.at/staff/EduardGroeller.html">Meister Eduard Gröller</a></h5>
				<h5><span class='tab1'></span>Core courses in computer graphics and computer vision<br>
				<span class='tab1'></span>Advanced coursework in the areas of real time rendering, visualization, virtual reality and computer vision</h5>
			</div>
			<div class="item">	
				<h4><i class="tab1 fas fa-graduation-cap"></i><span class='tab2'>2011</span><i>BSc degree</i> at <i>Vienna University of Technology</i><span style='font-size: 90%'>&nbsp;&ndash;&nbsp;Vienna, Austria</span></h4>
				<h5><span class='tab1'></span><span class='tab2'></span>Media Informatics and Visual Computing</h5>
				<h5><div class='tab1'></div>Fundamentals in computer science with a focus on the topics computer vision, computer graphics, visualization, virtual reality, human computer interaction and sensor systems</h5>
			</div> 
	  <h2>Awards</h2>
			<div class="item">	
				<h4><i class="tab1 fas fa-highlighter"></i><span class='tab2'>2022</span><span><a href='https://eccv2022.ecva.net/program/outstanding-reviewers'>ECCV Outstanding Reviewer Award</a></span></h4>
				<h4><i class="tab1 fas fa-highlighter"></i><span class='tab2'>2022</span><span><a href='https://cvpr2022.thecvf.com/outstanding-reviewers'>CVPR Outstanding Reviewer Award</a></span></h4>
			</div>
			<div class="item">	
				<h4><i class="tab1 fas fa-award"></i><span class='tab2'>2020</span><a href='https://research.facebook.com/fellows/fruhstuck-anna/'>Meta Research Fellowship</a></h4>
			</div>
	  <h2>Professional Experience</h2>
			<div class="item">	
				<h4><i class="tab1 fas fa-highlighter"></i><span class='tab2'><i>Reviewer</i></span><span> for ECCV, CVPR, ICCV, SIGGRAPH, TVCG, TOG, TOMM</span></h4>
			</div>
			<div class="item">	
				<h4><i class="tab1 fas fa-laptop-code"></i><span class='tab2'>2022</span>Internship with <i>Meta</i><span style='font-size: 90%'>&nbsp;&ndash;&nbsp;Sausalito, CA</span></h4>
				<h5><span class='tab1'></span><span class='tab2'></span><a href="https://research.facebook.com/" target="_blank">Meta Reality Labs</a></h5>
				<h5><span class='tab1'></span>Investigating 3D-aware generation as a tool for context-aware video editing to unlock realistic 3D editing for human faces in a temporally constistent fashion.</h5>
			</div>
			<div class="item">	
				<h4><i class="tab1 fas fa-laptop-code"></i><span class='tab2'>2020</span>Internship with <i>Adobe Research</i><span style='font-size: 90%'>&nbsp;&ndash;&nbsp;remote due to COVID-19</span></h4>
				<h5><span class='tab1'></span><span class='tab2'></span><a href="https://research.adobe.com/" target="_blank">Creative Intelligence Lab</a></h5>
				<h5><span class='tab1'></span>Designing strategies for controllable image synthesis of large-scale photorealistic full-body human images using state-of-the-art machine learning techniques.</h5>
			</div>
			<div class="item">	
				<h4><i class="tab1 fas fa-laptop-code"></i><span class='tab2'>2020</span>Internship with <i>Weta Digital</i><span style='font-size: 90%'>&nbsp;&ndash;&nbsp;remote due to COVID-19</span></h4>
				<h5><span class='tab1'></span><span class='tab2'></span><a href="https://www.wetafx.co.nz/research-and-tech/" target="_blank">Look Dev R&D</a></h5>
				<h5><span class='tab1'></span>Designing and evaluating state-of-the art Generative Adversarial Networks for high-resolution texture synthesis. Research on how to dissect GAN models for improved controllability for user interaction.</h5>
			</div>
			<div class="item">	
				<h4><i class="tab1 fas fa-laptop-code"></i><span class='tab2'>2016</span>Traineeship at <i>Harvard Medical School</i><span style='font-size: 90%'>&nbsp;&ndash;&nbsp;Boston, MA</span></h4>
				<h5><span class='tab1'></span><span class='tab2'></span><a href="http://www.spl.harvard.edu/" target="_blank">Surgical Planning Lab, Brigham and Women's Hospital</a></h5>
				<h5><span class='tab1'></span>Implementation of GPU-accelerated browser-based visualization software. Design and development of user interface components for web-based imaging. Browser-based GPU processing through grid-based PDE solver for 2D and 3D image segmentation. Integration with open-source visualization and medical imaging software 3D Slicer</h5>
			</div>
			<div class="item">	
				<h4><i class="tab1 fas fa-laptop-code"></i><span class='tab2'>2015</span>Visiting Researcher at <i>King Abdullah University of Science and Technology</i><span style='font-size: 90%'>&nbsp;&ndash;&nbsp;Thuwal, KSA</span></h4>
				<h5><span class='tab1'></span><span class='tab2'></span><a href="http://vccvisualization.org" target="_blank">Visualization Group, Visual Computing Center</a></h5>
				<h5><span class='tab1'></span>Development of my <a href="{{ site.baseurl }}projects.html">Master Thesis research project</a> supervised by <a href='http://vccvisualization.org/people/rautek/'>Peter Rautek</a></h5>
			</div>
			<div class="item">	
				<h4><i class="tab1 fas fa-laptop-code"></i><span class='tab2'>2010 – 2012</span>Software Developer at <i>SimVis</i><span style='font-size: 90%'>&nbsp;&ndash;&nbsp;Vienna, Austria</span></h4>
				<h5><span class='tab1'></span><span class='tab2'></span>SimVis GmbH</h5>
				<h5><span class='tab1'></span>
				Independent design and development of different components of the visualization software SimVis for the interactive visual analysis of time-dependent and multi-dimensional data, e.g. computational fluid dynamics, climate research, architectural flow visualization</h5>
			</div>    
		<h2>Teaching and Mentorship</h2>
			<div class="item">	
				<h4><i class="tab1 fas fa-chalkboard-teacher"></i><span class='tab2'>2021 – 2022</span>Student Ambassador for <a href='https://cemse.kaust.edu.sa/'>CEMSE Division</a> at KAUST</h4>
				<h4><i class="tab1 fas fa-chalkboard-teacher"></i><span class='tab2'>2021 & 2019</span>Teaching Assistant for <i>Deep Learning for Visual Computing (CS323)</i> at KAUST</h4>
			</div>
	</div>
	</div>
</div>
</section>





