<section id="bio">	
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
		<h2>Publications</h2>
			<div class="item">	
				<h4><i class="tab1 fas fa-file-invoice"></i><span class='tab2'>2019</span><a href="{{ site.baseurl }}projects.html#tileGAN">TileGAN: Synthesis of Large-Scale Non-Homogeneous Textures</a></h4>
				<h5><span class='tab1'></span><span class='tab2'></span><u>Anna Frühstück</u>, Ibraheem Alhashim, and Peter Wonka<br>
				<span class='tab1'></span><span class='tab2'></span>ACM Transactions on Graphics (Proceedings of SIGGRAPH 2019), Vol. 83(4), pp. 58:1-58:11.</h5>
			</div>
	  <h2>Education</h2>
			<div class="item">	
				<h4><i class="tab1 fas fa-university"></i><span class='tab2'>since 2017</span><i>PhD degree</i> at <i>King Abdullah University of Science and Technology</i><span style='font-size: 90%'>&nbsp;&ndash;&nbsp;Thuwal, KSA</span></h4>
				<h5><span class='tab1'></span><span class='tab2'></span>Computer Science | Current GPA: 4.0 | Adviser: <a href='http://h5eterwonka.net'>Peter Wonka</a></h5>
				<h5><span class='tab1'></span>Large-scale Image Synthesis using tileable Generative Adversarial Networks</h5>
			</div>
			<div class="item">	
				<h4><i class="tab1 fas fa-graduation-cap"></i><span class='tab2'>2015</span><i>MSc degree</i> (Dipl.-Ing.) at <i>Vienna University of Technology</i><span style='font-size: 90%'>&nbsp;&ndash;&nbsp;Vienna, Austria</span></h4>
				<h5><span class='tab1'></span><span class='tab2'></span>Visual Computing | graduated with distinction | Thesis adviser: <a href="https://www.cg.tuwien.ac.at/staff/EduardGroeller.html">Meister Eduard Gröller</a></h5>
				<h5><span class='tab1'></span>Core courses in computer graphics and computer vision<br>
				<span class='tab1'></span>Advanced coursework in the areas of real time rendering, visualization, virtual reality and computer vision</h5>
			</div>
			<div class="item">	
				<h4><i class="tab1 fas fa-graduation-cap"></i><span class='tab2'>2011</span><i>BSc degree</i> at <i>Vienna University of Technology</i><span style='font-size: 90%'>&nbsp;&ndash;&nbsp;Vienna, Austria</span></h4>
				<h5><span class='tab1'></span><span class='tab2'></span>Media Informatics and Visual Computing</h5>
				<h5><div class='tab1'></div>Fundamentals in computer science with a focus on the topics computer vision, computer graphics, visualization, virtual reality, human computer interaction and sensor systems</h5>
			</div> 
	  <h2>Professional Experience</h2>
			<div class="item">	
				<h4><i class="tab1 fas fa-laptop-code"></i><span class='tab2'>2016</span>Traineeship at <i>Harvard Medical School</i><span style='font-size: 90%'>&nbsp;&ndash;&nbsp;Boston, MA</span></h4>
				<h5><span class='tab1'></span><span class='tab2'></span><a href="http://www.spl.harvard.edu/">Surgical Planning Lab, Brigham and Women's Hospital</a></h5>
				<h5><span class='tab1'></span>Implementation of GPU-accelerated browser-based visualization software. Design and development of user interface components for web-based imaging. Browser-based GPU processing through grid-based PDE solver for 2D and 3D image segmentation. Integration with open-source visualization and medical imaging software 3D Slicer</h5>
			</div>
			<div class="item">	
				<h4><i class="tab1 fas fa-laptop-code"></i><span class='tab2'>2010–2012</span>Software Developer at <i>SimVis</i><span style='font-size: 90%'>&nbsp;&ndash;&nbsp;Vienna, Austria</span></h4>
				<h5><span class='tab1'></span><span class='tab2'></span>SimVis GmbH</h5>
				<h5><span class='tab1'></span>
				Independent design and development of different components of the visualization software SimVis for the interactive visual analysis of time-dependent and multi-dimensional data, e.g. computational fluid dynamics, climate research, architectural flow visualization</h5>
			</div>    
		<h2>Professional Development</h2>
			<div class="item">	
				<h4><i class="tab1 fas fa-chalkboard-teacher"></i><span class='tab2'>2019</span>Teaching Assistant for <i>Deep Learning for Visual Computing (CS390DD)</i> at KAUST</h4>
				<h4><i class="tab1 fas fa-book-open"></i><span class='tab2'>2017</span><a href='https://eu.udacity.com/course/deep-learning-nanodegree--nd101'>Deep Learning Nanodegree</a> at <i>Udacity</i></h4>
				<h4><i class="tab1 fas fa-brain"></i><span class='tab2'>2015</span>Visiting Researcher at <i>King Abdullah University of Science and Technology</i></h4>
				<h5><span class='tab1'></span><span class='tab2'></span>Thuwal, KSA&nbsp;&ndash;&nbsp;Master Thesis research project | Adviser: <a href='http://vccvisualization.org/h5eople/rautek/'>Peter Rautek</a></h5>
				<h4><i class="tab1 fas fa-brain"></i><span class='tab2'>2012</span>Summer School of the Graduate College at <i>University of Konstanz</i></h4>
				<h4><i class="tab1 fas fa-brain"></i><span class='tab2'>2012</span>Student Volunteer at <i>EuroVis conference</i></h4>
			</div>
	</div>
	</div>
</div>
</section>





