<div class="social">
    <h4>
    {% if site.scholar %}
        <a href="https://scholar.google.com/citations?user={{ site.scholar }}"><i class="ai ai-google-scholar-square ai-1x"></i></a>
    {% endif %}
    {% if site.github %}
	  <a href="http://github.com/{{ site.github }}"><i class="fab fa-github"></i></a>
    {% endif %}
    {% if site.email %}
	  <a href="mailto:{{ site.email}}"><i class="fa fa-envelope"></i></a>
    {% endif %}
    {% if site.twitter %}
	  <a href="http://twitter.com/{{ site.twitter }}"><i class="fab fa-twitter"></i></a>
    {% endif %}
    {% if site.linkedin %}
	  <a href="http://linkedin.com/in/{{ site.linkedin }}"><i class="fab fa-linkedin"></i></a>
    {% endif %}
    {% if site.stackoverflow %}
	  <a href="http://stackoverflow.com/{{ site.stackoverflow }}"><i class="fab fa-stack-overflow"></i></a>
    {% endif %}
    
	</h4>
</div>
