/* Main page with stikky-footer
-------------------------------------------------- */

:root {
    --citation-color: linear-gradient(rgba(240, 230, 255, 1), rgba(240, 230, 255, 0.65));
    --citation-border-color: #d1b3ff;
	--hover-color: #99cc00;
	--hover-box: linear-gradient(#ace600, #99cc00); 
	--accent-color: #660066;
	--text: 'Abel' /*Open Sans Condensed*/
}


html,
body {
  height: 100%;
  background-color: #fff;
  font-family: var(--text), sans-serif;
  /* The html and body elements cannot have any padding or margin. */
  border-top: 3px solid var(--accent-color) /*#27A822;*/
}

/* Wrapper for page content to push down footer */
#wrap {
	display: block;
	padding-bottom: 50px;	
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto -65px;
	/* Pad bottom by footer height */
	/*padding: 0 0 60px;*/
}

.project {
	display: inline-block;
	padding: 0;
}

.project-text {
	float: left;
}
.project-image {
	float: right;
	padding-left: 2em;
}
.project-image img {
    display: block;
    margin: 0 auto;
	width: 256px;	
	text-align: center;
}

.linkbox {
	/* position: absolute; */
	bottom: 0;
	text-align: left;
}
.linkbox a i {
    padding-right: 10px;
}

.linkbox a {
    padding-left: 12px;
}
.linkbox a:first-child {
    padding-left: 0px;
}

@media (max-width: 767px) {
   .project-image-box { 
		padding: 0;
		float: none; 
	}

	.project-image {
		width: 100%;
	}
}


/* Navbar
-------------------------------------------------- */
.navbar {
  display: inline-block;
  width: 100%;
  float: left;
  border: none;
  /* margin-right: 50px; */
}

.navbar-static-top {
  margin-bottom: 10px;
}
.navbar-default {
  font-size: 1.5em;
  background-color: #ffffff;
  accent-color: #ffffff;
}
.navbar-default .navbar-brand {
  color: #6b6b6b;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #6b6b6b;
}
.navbar-default .navbar-text {
  color: #6b6b6b;
}
.navbar-default .navbar-nav > li > a {
  color: #6b6b6b;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background: var(--hover-box);
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #6b6b6b;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #6b6b6b;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  accent-color: #ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #6b6b6b;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  accent-color: #6b6b6b;
}
.navbar-default .navbar-link {
  color: #6b6b6b;
}
.navbar-default .navbar-link:hover {
  color: #6b6b6b;
}
@media (max-width: 767px) {

  .column {
	  display: inline-block !important;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #6b6b6b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #6b6b6b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #6b6b6b;
    background-color: #ffffff;
  }
}

/* citation box */
.citation {
	font-family: 'Nanum Gothic Coding', monospace;
	padding: 0.5em 1.5em;
	font-size: 0.8em;
	line-height: 1em;
	margin-top: 2em;
	text-align: left;
	border-radius: 5px;
	background: var(--citation-color);
	border: 1px solid var(--citation-border-color);
}

/* Custom page CSS
-------------------------------------------------- */

.box {
	display: inline-block; 
  /* min-width: 768px; */
  max-width: 1000px;
  /* text-align: center; */
}
.box .text-muted {
	margin: 20px 0;
	text-align: center;
}

.box a {
	/* text-decoration: none; */
	color: var(--accent-color);
}
.box a:hover {
	text-decoration: none;
	background-color: rgba(172, 230, 0, 0.1); 
	color: var(--hover-color);
}

.column {
	/* vertical-align:top; */
	/* display: inline-block; */
	padding: 0em 0.2em;
	/* border: 1px solid black; */
	height: auto;
	overflow: hidden; 
}

#sidebar { 
	/* flex: 1; */
	/* height: 100vh; */
	/* display: inline-block; */
	margin-left: 20px;
	float: left;
	width: auto;
	max-width: 280px;
	text-align: left;
}

#sidebar .text-muted {
  margin: 20px 0;
}
#sidebar a {
  color: var(--accent-color);
}
#sidebar a:hover {
  text-decoration: none;
  color: var(--hover-color);
}
.tab1 { 
	display: inline-block; 
	width: 50px;
	height: 100%;
}
.tab2 { 
	display: inline-block; 
	width: 110px; 
}

@media (max-width: 767px) {
	.tab1 { 
		display: inline; 
		width: 40px;
	}
	.tab2 { 
		display: inline; 
		padding-right: 5px;
	}
}

.img-responsive {
 display: block;
 height: auto;
 max-width: 100%;
}
.panel-default h4 {
  text-align: left;
  line-height: 24px;
  font-size: 22px;
}
.panel-default h5 {
  text-align: left;
  line-height: 30px;
  font-size: 18px;
}
.panel-default h6 {
  font-size: 15px;
}
.panel-default h4 a, h5 a {
  color: var(--accent-color);
}
.panel-default h4 a:hover, h5 a:hover {
  color: var(--hover-color);
}
.panel {
  border-style: none;
}
.panel-body {
  padding-top: -10px;
  text-align: left;
  padding-right: 0;
}
.social {
  padding-top: 12px;
  word-spacing: 25px;
}
.social h4 > a {
  color: #000000;
}
.avatar {
  padding-top: 5%;
}

.card {
  position: relative;
  display: inline-block;
}

.avatar .img-top {
	/* display: none; */
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}

.avatar .img-circle {
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.avatar:hover .img-top {
	/* display: inline; */
	opacity: 0;
}
	
.img-circle {
  width: 140px;
  height: auto;
}
.blog-post{
  padding-top: 15px;
}
.blog-title{
  padding-top: 2px;
}
.related-posts h4 {
  text-align: center;
}
.page-not-found {
  padding-top: 20%;
}
.disqus {
  padding-bottom: 15px;
}

.blogpost{
  text-align: left;
  line-height: 30px;
  font-size: 18px;
}

/* Footer 
-------------------------------------------------- */

.footer {
  text-decoration: none !important;
}
.text-muted {
	color: #6b6b6b;
}
div.footer{
  border-bottom: 5px solid var(--accent-color);
}
/* Set the fixed height of the footer here */
/*.footer {
  height: 50px;
  padding-bottom: 15px;
  
}*/