/* Main page with stikky-footer
-------------------------------------------------- */
:root {
    --citation-color: linear-gradient(rgba(240, 230, 255, 1), rgba(240, 230, 255, 0.65));
    --citation-border-color: #d1b3ff;
	--hover-color: #99cc00;
	--hover-box: linear-gradient(#ace600, #99cc00); 
	--hover-background: rgba(172, 230, 0, 0.1);
	--accent-color: #660066;
	--text: 'Abel' /*Open Sans Condensed*/
}

html,
body {
  height: 100%;
  background-color: #fff;
  font-family: var(--text), sans-serif;
  /* The html and body elements cannot have any padding or margin. */
  border-top: 3px solid var(--accent-color);
}
/* Wrapper for page content to push down footer */
#wrap {
  padding-bottom: 50px;	
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -65px;
  /* Pad bottom by footer height */
  /*padding: 0 0 60px;*/
}

/* Navbar
-------------------------------------------------- */
.navbar-brand {
	font-size: 1.8em;
}
.nav {
 font-size: 1.2em;
}

.navbar {
	border: none;
}

.navbar-collapse {
	padding: 0;
}

.navbar-nav {
	margin: 0;
}

.navbar-static-top {
  margin-bottom: 10px;
}
.navbar-default {
  background-color: #fafafa;
  border-color: #ffffff;
}
.navbar-default .navbar-brand {
  color: #6b6b6b;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: var(--hover-color);
  background-color: var(--hover-background);

}
.navbar-default .navbar-text {
  color: #6b6b6b;
}
.navbar-default .navbar-nav > li > a {
  color: #6b6b6b;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: var(--hover-color);
  background-color: var(--hover-background);
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #6b6b6b;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #6b6b6b;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #6b6b6b;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #6b6b6b;
}
.navbar-default .navbar-link {
  color: #6b6b6b;
}
.navbar-default .navbar-link:hover {
  color: var(--hover-color);
  background-color: var(--hover-background);
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #6b6b6b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: var(--hover-color);
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: var(--hover-color);
    background-color: var(--hover-background);
  }
}


/* Project
-------------------------------------------------- */
.project {
	display: inline-block;
	padding: 0;
}

.project-image {
	float: right;
	padding-left: 0.8em;
	padding-top: 5px;
}
.project-image img {
    display: block;
    margin: 0 auto;
	width: 256px;	
	border-radius: 3px;
	text-align: center;
	box-shadow: 1px 1px 4px grey;
}

.project-item {
  background: #f3f0f3;
  border-radius: 3px;
  margin: 2px;
  margin-bottom: 0.8em;
  padding: 0.3em 0.5em 0em;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
}

.linkbox {
	/* position: absolute; */
	font-size: 16px !important;
	bottom: 0;
	text-align: left;
}
.linkbox a i {
    padding-right: 10px;
}

.linkbox a {
    padding-left: 12px;
}
.linkbox a:first-child {
    padding-left: 0px;
}

@media (max-width: 767px) {
   .project-image-box { 
		padding: 0;
		float: none; 
	}
	
	.project-text {
		display: inline-block;
	}

	.project-image {
		float: none; 
		padding: 5px 0;
	}
	.project-image img {
		width: 100%;
		max-width: 450px;
	}
}

/* citation box */
.citation {
	font-family: 'Nanum Gothic Coding', monospace;
	padding: 0.5em 1em;
	font-size: 0.8em;
	line-height: 1em;
	margin-top: 1em;
	text-align: left;
	border-radius: 5px;
	background: var(--hover-background);
	border: 1px solid var(--hover-color);
	box-shadow: 1px 1px 3px #ddd;
}

/* Custom page CSS
-------------------------------------------------- */

.container {
  width: auto;
  max-width: 800px;
  text-align: justify;
  text-justify: inter-word;
}
.container .text-muted {
  margin: 20px 0;
}
.container a {
  color: var(--accent-color);
}

.container a:hover {
	text-decoration: none;
	background-color: var(--hover-background); 
	color: var(--hover-color);
}

.img-responsive {
 display: block;
 height: auto;
 max-width: 100%;
}

#info {
  font-size: 18px;
  display: flex;
  margin-bottom: 36px;
}

#info ul {
	padding: 0;
	list-style-type: none;
}

#info li {
  background: #f3f0f3;
  border-radius: 3px;
  margin: 2px;
  padding: 0.3em 0.5em 0em;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
  
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  -o-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

#info li:last-child {
  border: none;
  padding-bottom: 0.3em;
}

#info li:hover {
  background: var(--hover-background);
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  -o-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}
/**************************************************************************/
.sublist {
  position: relative;
  height: auto;
  border-top: 0;
}

[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

label {
  display: block;
  width: 100%;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: 0;
  transition: top .45s cubic-bezier(.44, .99, .48, 1);
}

label:before,
label:after {
  position: absolute;
}


label:after {  
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='20' width='20' viewBox='0 0 320 512'><path fill='rgb(128,128,128)' d='M143 352L7 216c-9-9-9-24 0-34l23-22c9-10 24-10 34 0l96 96 96-96c10-10 25-10 34 0l23 22c9 10 9 25 0 34L177 352c-9 10-25 10-34 0z'/></svg>");
  left: 50%;
}

input[type="checkbox"] ~ ul {
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: max-height .45s cubic-bezier(.44, .99, .48, 1);
}

[type="checkbox"]:checked ~ ul {
  /**
   * the value of the `max-height` property specifies the transition speed
   * set a very big value (e.g. 9999px) to see the difference
   */
  
  max-height: 1000px;
}

[type="checkbox"]:checked + label {
  top: 100%;
}

[type="checkbox"]:checked + label:after {     
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='20' width='20' viewBox='0 0 320 512'><path fill='rgb(128,128,128)' d='M177 160l136 136c9 9 9 24 0 34l-23 22c-9 10-24 10-34 0l-96-96-96 96c-10 10-25 10-34 0L7 330c-9-10-9-25 0-34l136-136c9-10 25-10 34 0z'/></svg>");
}

.sublist ul li:last-child {
  margin-bottom: 10px;
}

/**************************************************************************/
@media (max-width: 767px) {
	#info {
	  display: inline-block;
	}
} 

.news-date {
	font-size: 14px;
	color: var(--accent-color);
}

.news-title {
	font-size: 16px;
  font-weight: bold;
}

.news-text {
	font-size: 16px;
	padding-left: 20px;
}

.panel-default h2 {
  font-size:  28px;
}
.panel-default h4 {
  line-height: 24px;
  font-size: 18px;
}
.panel-default h5 {
  line-height: 20px;
  font-size: 16px;
}
.panel-default h6 {
  font-size: 15px;
}
.panel-default h4 a, h5 a {
  color: var(--accent-color);
}
.panel-default h4 a:hover, h5 a:hover {
  color: var(--hover-color);
}
.panel{
  border-style: none;
}
.panel-body {
  padding-top: -10px;
}
.social {
  padding-top: 12px;
  word-spacing: 25px;
}
.social h4 > a {
  color: #000000;
}
.avatar {
  display: inline-block;
  position: relative;
}

.avatar .img-top {
	position: absolute;
	top: 0;
	left: 0;
}

.avatar .img-circle {
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.avatar:hover .img-top {
	/* display: inline; */
	opacity: 0;
}

.img-circle {
  width: 140px;
  height: auto;
}

#sidebar { 
	float: left;
	width: auto;
	max-width: 220px;
	height: 100%;
	text-align: left;
	margin-right: 1em;
	margin-bottom: 1em;
}

#sidebar .text-muted {
  margin: 20px 0;
}
#sidebar a {
  color: var(--accent-color);
}
#sidebar a:hover {
  text-decoration: none;
  color: var(--hover-color);
}

@media (max-width: 767px) {
	#sidebar { 
		max-width: 767px;
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	
	.img-circle {
	  width: auto;
	  height: auto;
	}
}

.blog-post{
  padding-top: 15px;
}
.blog-title{
  padding-top: 2px;
}
.related-posts h4 {
  text-align: center;
}
.page-not-found {
  padding-top: 20%;
  text-align: center;
}
.disqus {
  padding-bottom: 15px;
}

.blogpost {
  text-align: left;
  line-height: 30px;
  font-size: 18px;
}


.tab1 { 
	display: inline-block; 
	width: 36px;
	height: 100%;
}
.tab2 { 
	display: inline-block; 
	width: 100px; 
}

@media (max-width: 767px) {
	.tab1 { 
		display: inline; 
		width: 40px;
	}
	.tab2 { 
		display: inline; 
		padding-right: 5px;
	}
}

/* Footer 
-------------------------------------------------- */

.footer {
	text-align: center;
	text-decoration: none !important;
}
.text-muted {
	text-align: center;
	color: #6d6d6d;
}
div.footer{
  border-bottom: 5px solid var(--accent-color);
}
/* Set the fixed height of the footer here */
/*.footer {
  height: 50px;
  padding-bottom: 15px;
  
}*/